Skip to content
 This repository
Explore
Gist
Blog
Help
Pham Minh Khoa khoazany
 
 Watch 38
  Star 86
  Fork 310
rstudio/shiny-examples
 branch: master  shiny-examples/063-superzip-example/styles.css
Garrett Grolemundgarrettgman on Jul 28, 2014 Adding all remaining apps for the shiny dev center gallery
1 contributor
RawBlameHistory     49 lines (44 sloc)  0.85 kb
input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}
Status API Training Shop Blog About
© 2015 GitHub, Inc. Terms Privacy Security Contact
